# entorno virtual
venv/
env/
ENV/

# Archivos de BD
*.sqlite3
*.db

# Archivos de configuración sensible
.env
*.log

# Archivos de python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de migraciones innecesarios
*/migrations/*.pyc
*/migrations/__pycache__

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos Tailwind y NPM
theme/static/node_modules/
theme/static/package-lock.json
theme/static/package.json
theme/static/.gitignore
theme/static/src/
theme/static/css/dist/

# Archivos de compilacion
*.bak
*.tmp

# Archivos de editor
.vscode/
.idea/
*.swp


